body {
    background: black;
    padding: 20px;
}

#container {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 10px;
}
#screen {
    display: flex;
    width: 420px;
    height: 420px;
    border-style: solid;
    margin-right: 100px;
}
.cell:hover {
    background: gray;
}
#nav-pane {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    justify-content: center;
    align-items: center;
}
#gridRange {
    accent-color: black;
}

